
html, body {
  position: relative;
  height: 100% !important;

  /* FONTS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* BACKGROUND */
  background: rgba(45,45,45,1);
  background: -moz-linear-gradient(-45deg, rgba(45,45,45,1) 0%, rgba(4,4,4,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(45,45,45,1)), color-stop(100%, rgba(4,4,4,1)));
  background: -webkit-linear-gradient(-45deg, rgba(45,45,45,1) 0%, rgba(4,4,4,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(45,45,45,1) 0%, rgba(4,4,4,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(45,45,45,1) 0%, rgba(4,4,4,1) 100%);
  background: linear-gradient(135deg, rgba(45,45,45,1) 0%, rgba(4,4,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cccccc', GradientType=1 );
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}

html {
  /*overflow: hidden;*/
}

body {
  margin: 0;
  padding: 0;
}

@media (max-device-aspect-ratio: 3/4) {
  body {
    height: calc(100vw * 1.333 - 9%);
  }
}
@media (max-device-aspect-ratio: 2/3) {
  body {
    height: calc(100vw * 1.5 - 9%);
  }
}
@media (max-device-aspect-ratio: 10/16) {
  body {
    height: calc(100vw * 1.6 - 9%);
  }
}
@media (max-device-aspect-ratio: 9/16) {
  body {
    height: calc(100vw * 1.778 - 9%);
  }
}

body.isHovered {
	cursor: pointer;
}
header {
  font-family: 'Raleway', sans-serif;
  height: 100px;
}

header.inversed .fUnder, header.inversed ul li {
	color: white;
	border-color: white;
}

header ul {
  display: block;
  margin: 16px auto;
	display: block;
  overflow: hidden;
  width: 100px;
  animation: initName 1s;
  width: 100px;
  padding: 20px;
  transform: scale(1.4);
}

@keyframes initName {
  from { width: 0px; color: white; }
  to { width: 100px; color: white; }
}

.fUnder {
	border-bottom: 4px solid black;
	border-color: black;
	animation: fUnder 1s;
}

@keyframes fUnder {
	from { border-color: rgb(0, 255, 213); color: rgb(0, 255, 213); }
	to { border-color: white; color: white; }
}

@keyframes colorAnim {
	from { color: rgb(0, 255, 213); }
	to { color: white; }
}

header ul li {
  list-style: none;
  animation: colorAnim 1s;
  transition: all 2s ease-in;
}

footer {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  position: relative;
  display: block;
  background: white;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

footer ul {    
  display: block;
  font-size: 16pt;
  line-height: 1.3;
  width: calc(100% - 150px);
  margin: 40px auto 0px auto;
  padding: 0 0 20px 0;
  color: black;
}

footer ul li {
  list-style: none;
  color: black;
}

footer ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.1s linear;
}

footer ul li a:hover {
  color: rgb(0, 255, 213);
}

footer ul li a:active {
  color: black;
}

footer ul li hr {
  border: none;
  background-color: black;
  height: 4px;
}

.content {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.2;
	font-size: 15pt;
	color: white;
	top: 0;
	transition: transform 2.5s ease-in-out;
	width: 100%;
}

.content > div {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px 60px;
}

.content img {
  width: 100%;
}

.content.show {
	transform: translateY(0%);
	transition: transform 1.5s ease-in-out;
}

.content a {
  text-decoration: none;
	color: #eee;
	font-weight: 700;
	border-bottom: 2.7px solid #ddd;
	margin: 0 1.5px;
	line-height: 1.3;
	display: inline-block;
}

.content ul {
  font-weight: 700;
  list-style: none;
	padding: 10px 0;
}

.content h2 {
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
}

.content ul.yearlist {
	margin: 0px;
  font-weight: 400;
  color: #ddd;
	list-style: square !important; 
	    padding: 10px 0 0 20px;
}

::selection {
  background: #6400cb; /* WebKit/Blink Browsers */
  opacity: 0.7;
}

::-moz-selection {
  background: #6400cb; /* Gecko Browsers */
  opacity: 0.7;
}

*::-webkit-scrollbar {
    width: 0.25em;
}
 
*::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
 
*::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid slategrey;
}

.fader {
	width: 100%;
  display: grid;
  transition: transform 0.1s ease-in;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.fader:active {
	transform: scale(0.95);
}

.fader img {
	width: inherit;
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}
